body{
	margin:0;
	font-family:"Courier New", Courier, monospace;
	overflow-x:hidden;
}



/*inputs*/
input, button{
	background:#eee;
	border:0;
	font-size:3vh;
	text-align: center;
	font-family:"Courier New", Courier, monospace;
}
@keyframes pulsate{
	0%{ background:#eee;}
	50%{ background:#dfdfdf;}
	100%{background:#eee;}
}
input:focus{
	outline-color: transparent;
	outline-style: none;
	border:0;
	animation-name:pulsate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}


/*generic*/
.time-options{
	margin:auto;
	text-align:center;
}
.time-options > input, 
.time-options > span, 
.time-options > table > tr > td > input, 
.time-options > table > tr > td,
.time-options > table > tbody > tr > td > input, 
.time-options > table > tbody > tr > td
{
	font-size:3vh;
}
.time-options > input,
.time-options > table > tr > td > input, 
.time-options > table > tbody > tr > td > input
{
	width:10vh;
}





/*options box*/
.selectbox{
	width:100vw;
	position:relative;
}

.infotxt{
	margin-top:10vh;
	margin-bottom: 10vh;
	width:100vw;
	text-align:center;
	font-size:5vh;
}

#segment-list{
	width:100vw;
}

.segment{
	width:100vw;
	margin-top:5vh;
	margin-bottom:5vh;
}
.segment > #ratiosIN{
	font-size:30vh;
	width:80vh;
	max-width: 90vw;

	display:block;
	margin:auto;
	margin-bottom:5vh;

	font-family: Arial, Helvetica, sans-serif;
}
.segment > #closebtn{
	width:80vh;
	max-width: 90vw;
	display: block;
	margin: auto;
}
.segment > .time-options{
	width:80vh;
	max-width: 90vw;
	text-align: left;
}
.segment > .time-options > table{
	margin:auto;
}



/*"overall" inputs*/
#addbtn-container{
	width: 100vw;
	margin-top:10vh;
	font-size:3vh;
	text-align: center;
}
#addbtn-container > #add-indexIN{
	width:10vh;
}

#playbtn{
	margin-top:10vh;
	margin-bottom:10vh;
	margin-left:40vw;
	width:20vw;
	font-size: 4vh;
}
#overall-bpm{
	margin-top:10vh;
}



/*visuallization box*/
.resultbox{
	overflow:auto;
	min-height:50vh;
	width:100vw;
	background:#eee;
	position:relative;
}

#CAN{
	background:black;
	margin-top:20vh;
	margin-bottom:20vh;
	margin-left:10vw;
	width:80vw;
	height:20vh;
}

/*footer*/
.footer{
	padding:5vh;
}


/*mobile*/
@media only screen and (max-aspect-ratio: 1/1){
	.segment > #ratiosIN{
		font-size:30vw;
	}
	.time-options > input, 
	.time-options > span, 
	.time-options > table > tr > td > input, 
	.time-options > table > tr > td,
	.time-options > table > tbody > tr > td > input, 
	.time-options > table > tbody > tr > td
	{
		font-size:6vw;
	}
	.time-options > input,
	.time-options > table > tr > td > input, 
	.time-options > table > tbody > tr > td > input
	{
		width:25vw;
	}
	#playbtn{
		margin-left:25vw;
		width:50vw;
	}
	#CAN{
		width:94vw;
		margin-left:3vw;
	}
	.footer{
		font-size: 3vw;
	}
}

.topbar{
	padding: 1em;
	background: yellow;
}