body{
	margin:0;
	font-family:"Courier New", Courier, monospace;
	overflow-x:hidden;
}

.container{
	display:flex;
	flex-flow: row nowrap;
	align-items:center;
	justify-content:center;
	
	width:100vw;
	height:50vh;
	margin-top:25vh;
}

.infotxt{
	position:absolute;
	top:8vh;
	left:0;
	width:100vw;
	text-align:center;
	font-size:5vh;
}

#playbtn{
	position:absolute;
	bottom:8vh;
	left:40vw;
	width:20vw;
	border:none;
	font-size:4vh;
	text-align:center;
	
	font-family:"Courier New", Courier, monospace;
}

.container > input, .container > div{
	border:none;
	
	vertical-align:middle;
	
	font-size:30vh;
	text-align:center;
	width:30vh;
}

input[type=text]{
	background:#eee;
	
}

.selectbox{
	overflow:auto;
	height:100vh;
	width:100vw;
	position:relative;
}

.resultbox{
	overflow:auto;
	min-height:50vh;
	width:100vw;
	background:#eee;
	position:relative;
}

#CAN{
	background:black;
	margin-top:20vh;
	margin-bottom:20vh;
	margin-left:10vw;
	width:80vw;
	height:20vh;
}

#temposelect{
	position:absolute;
	top:10vh;
	
	display:flex;
	flex-flow: row wrap;
	align-items:center;
	justify-content:center;
	
	width:100vw;
	
	font-size:4vh;
}
#temposelect > input{
	border:0;
	background:white;
	font-size:3vh;
	width:15vh;
}

@media only screen and (max-aspect-ratio: 1/1){
	.container > input, .container > div{
		font-size:30vw;
		width:30vw;
	}
	#playbtn{
		left:25vw;
		width:50vw;
	}
	#CAN{
		width:94vw;
		margin-left:3vw;
	}
}